
    <div class="projetos" id="projetos-id">
        <h2>Principais projetos</h2>

        <div class="card-projetos">

            <div class="card">
                <img src="./img/logo (1).jpeg">
                <h5>CF Tucuruvi</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, magni. Quaerat iusto vel aliquid
                    pariatur voluptate mollitia eius sunt neque laboriosam? Facilis laboriosam dolor nesciunt suscipit
                    non odit magnam dicta!</p>
                <a>Ver Projeto</a>

            </div>

            <div class="card">
                <img src="./img/embreve2.jpeg">
                <h5> Em Breve</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, magni. Quaerat iusto vel aliquid
                    pariatur voluptate mollitia eius sunt neque laboriosam? Facilis laboriosam dolor nesciunt suscipit
                    non odit magnam dicta!</p>
                <a>Ver Projeto</a>

            </div>

            <div class="card">
                <img src="./img/embreve2.jpeg">
                <h5>Em breve</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, magni. Quaerat iusto vel aliquid
                    pariatur voluptate mollitia eius sunt neque laboriosam? Facilis laboriosam dolor nesciunt suscipit
                    non odit magnam dicta!</p>
                <a>Ver Projeto</a>

            </div>
        </div>
    </div>
